@mixin reset-list() {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin icomoon { //copypaste from icomoon.scss, just a little bit DRYer
	font-family: 'eige-gm';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin position-valign-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// TODO add userful mixins from older projects
// full width stripe - hbreavis
// sexy underline - haus
