.form {
	@include xy-cell;

	height: rem-calc( 120 );
	position: relative;
	margin-left: 0;
	margin-right: 0;
	width: 100%;

	@include breakpoint( medium ) {
		@include xy-cell;
	}

	iframe {
		height: 100%;
		width: 100%;
	}

	&--expanded {
		height: rem-calc( 1100 );
	}

	&__action {
		@include button;
		position: absolute;
		margin-left: 50%;
		transform: translateX( -50% ) translateY( -50% );

		.form--expanded & {
			display: none;
		}

		@include breakpoint( medium ) {
			font-size: rem-calc( 32 );
		}
	}
}