.sharing {
	// min-width: 100%;
	// display: flex;
	// justify-content: center;

	&--top {
		margin-top: -$tr-common-spacing/2;
		margin-bottom: $tr-common-spacing/2;

		@include breakpoint( medium ) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}