	<div class="grid-container grid-container--wide">
		<div class="grid-y">
			<div class="cell small-6 action action--go">
				<h3>Záchrana životov. Dobrý pocit. Milé sestričky. <strong>Idem do toho.</strong></h3>
				<p>Skvelé. Príď medzi  7:00 – 14:00 do Národného onkologického centra na Klenovu 1 v Bratislave. Môžeš sa vopred dohodnúť na telefónnom čísle {{ phone }}. Spomeň im projekt 100 statočných. Ďakujeme.</p>
			</div>
			<div class="cell small-6 action action--nogo">
				<h3>Zistil/a som, že nie som vhodný darca. Fakt nemôžem.</h3>
				<p>Ale určite máš v okolí aspoň troch ľudí, ktorí môžu! Pošli im info! Napríklad takto:</p>
				<p id="action-message" class="action__email">
					Cau,<br>
					dozvedel/a som sa o tom, ake je dolezite darovat krvne dosticky pre onkopacientov, ale nemozem darovat... Ty by si podla mna bol/a super darcom.
					Na stranke http://www.100statocnych.sk je k tomu dobra iniciativa, kukni to a vyskusaj!

				</p>
				<button class="button secondary align-center js-copytext" data-clipboard-target="#action-message">Skopíruj text</button>
			</div>
		</div>
	</div>