{# <div class="fb-share-button" data-href="http://100statocnych.sk" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F100statocnych.sk%2F&amp;src=sdkpreparse">Share</a></div> #}
