{% extends "_layout.common.twig" %}

{% block title %}Ako? | Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<h2 class="text-center spacing">Ako sa stať darcom?</h2>
		
		<section class="section faq spacing">
		</section>
	</div>


{% endblock %}