{% extends "_layout.common.twig" %}

{% block bodyclass %}menu-ako{% endblock %}
{% block title %}Ako? | Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<h1 class="text-center spacing">Ako sa stať darcom?</h1>
		<p class="intro text-center">
			Darovaniu krvných doštičiek predchádza vyplnenie dotazníka, vyšetrenia tvojho zdravia a rozhovor s milým doktorom / doktorkou. No, netvrdili sme, že stať sa jedným zo 100 statočných je jednoduché ;)
		</p>
		{# <p class="intro text-center">
			Nie si si istý alebo istá, či môžeš darovať krvné doštičky, urob si náš test a zisti viac.
		</p> #}
		
		<section class="section faq spacing">
		</section>


		<div class="grid-x">
			<div class="cell">
				<h2>Bude potrebné:</h2>

				<ul class="arguments arguments--numbered">
					<li class="arguments__item">
						<p class="arguments__text">
							Prísť na Klenovu (mapa) a registrovať sa, aby ťa mali v systéme 
							<span class="arguments__desc">(návod: pri fontáne najskôr vojdeš do nemocnice hlavným vchodom a pri infopulte sa spýtaš, kde je registrácia - pošlú ťa do budovy naproti).</span>
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							Prejsť na hematológiu, vstup pre darcov je zvonku po takej vtipnej rampe 
							<span class="arguments__desc">(tu je mapka alebo pani pri infopulte). Dostaneš žiadanky na ďalšie vyšetrenia a v prípade potreby aj potvrdenie do práce. Urobia ti bez čakania kontrolný odber krvi.</span>
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							Absolvovať röntgen pľúc a EKG 
							<span class="arguments__desc">(párminútové vyšetrenie, ktoré ti povie, či máš srdce v poriadku - dostaneš na hrudník zopár prísaviek a prístroj vypľuje papier so všeliakými krivkami, pohodlne pri tom ležíš a je to skôr také relaxačné cvičenie :)</span>
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							V tento deň už viac nespravíš. Ale spravil/a si najdôležitejší krok - ten prvý.
							<span class="arguments__desc">Podľa výsledkov vyšetrení ešte prebehne pri tvojej ďalšej návšteve rozhovor s lekárom.</span>
						</p>
					</li>
				</ul>

			</div>
		</div>

		<div class="grid-x">
			<div class="cell">
				<h2>Ako potom prebieha samotný odber?</h2>

				<p>Na dátume a čase odberu sa dohodnete so sestričkou.</p>

				<p>Krvné doštičky sa filtrujú z krvi na separátore. Sadneš si do pohodlného kresla a milá sestrička sa o teba postará. Ihla z jednej žily na ruke posiela krv do separátora, hadičkou v druhej ruke sa ti vracia naspäť (ale ide to aj cez jednu ruku - či budete robiť odber jednožilovo alebo dvojžilovo je na tvojej dohode so sestričkou). Mimo tvojho tela je vždy len malé množstvo tvojej krvi a tá prechádza len cez jednorazové sterilné hadičky.</p> 

				<p>Trvanie je individuálne, väčšinou hodinu - hodinu a štvrť.</p>
			</div>
		</div>
	</div>
	<div class="grid-container grid-container--wide">
		<div class="grid-x">
			<div class="cell">
				{# strasidlo #}
				<div class="monster">
					<img src="/dist/images/monster.svg" alt="Bezne strachy z darovania dosticiek">
					<div class="grid-x">
						<div class="cell medium-4">
							Doštičky sa ti po odbere obnovia už po 72 hodinách.
						</div>
						<div class="cell medium-4">
							Celý set používaný na odber je sterilný a jednorázový.
						</div>
						<div class="cell medium-4">
							Doštičky sa dajú odoberať jednožilovo aj dvojžilovo.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-x">
			<div class="cell">
			
				<h3>Ako sa budeš cítiť po odbere?</h3>

				<p>Samozrejme, je to individuálne. Vo všeobecnosti telo znáša darovanie krvných doštičiek lepšie ako darovanie krvi. </p>
				
				<p>Môže sa stať, že budeš cítiť brnenie na perách, alebo niekde v tele. To je spôsobené tým, že do krvi dostávaš aj roztok na rozriedenie krvi (aby sa nezrážala na hadičkách v prístroji). Ak sa to stane, sestrička Ti rada dá šumivé kalcium a po chvíli brnenie ustane. Ak by Ti bolo trochu chladno (predsalen krv ide mimo tela a môže sa ochladiť pod 37°C), k dispozícii sú deky.</p>

			</div>
		</div>

		<div class="grid-x">
			<div class="cell">
				<h2>A čo potom?</h2>
				<p>Ak všetko dobre dopadlo, môžeš byť pravidelným darcom, čo má najväčší význam. Môže sa stať, že ti z NOÚ zavolajú, keď budú tvoje doštičky potrebovať. Tvoje telo si ich do troch dní znovu vyrobí a niekomu hore na oddelení možno už o pár hodín veľmi pomôžu. Samozrejme, nemusíš čakať, kým sa ti sestrička ozve, pokojne zavolaj po mesiaci od posledného darovania ty a dohodni si ďalší termín. </p>

				<p>Akékoľvek otázky budeš mať, môžeš napísať priamo na andrej@100statocnych.sk alebo zavolať do NOÚ na spomínaný tel {{ phone }}.</p>
			</div>
		</div>
	</div>
{% include '_actions.twig'	%}

{% endblock %}