{% extends "_layout.common.twig" %}

{% block bodyclass %}menu-faq{% endblock %}
{% block title %}FAQ | Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<h2 class="text-center spacing">Časté otázky</h2>

		<h4>Kde všade sa dajú darovať krvné doštičky?</h4>
		<p>Stránka 100statočných.sk vznikla ako pomoc pre získanie darcov pre Národný onkologický ústav. Avšak krvné doštičky sa dajú darovať aj na iných miestach. Na <a href="/kde.html">stránke kde</a> nájdete niekoľko odberných miest. Všetky majú spoločné, že darovať môže ísť človek, o ktorého krvi vedia na odberovom mieste viac. V Národnom onkologickom ústave potrebujete ísť na pred-odberové výšetrenie, v Národnej transfúznej službe potrebujete mať za sebou pár darovaní krvi. Odporúčame zavolať vopred na kontaktné telefónne číslo pri danom odberovom mieste.</p>

		<h4>Môžem vôbec darovať krvné doštičky?</h4>
		<p>Na toto zistenie slúži prvotné vyšetrenie. Pozostáva z odberu krvi, RTG a EKG vyšetrenia. Výsledok vyšetrenia sa dozvieš na tel. čísle {{ phone }} pár dní po vyšetrení.</p>

		<h4>Môžem sa darovaním nakaziť?</h4>
		<p>Nie. Pri darovaní sa používa jednorazový sterilný materiál. Sú ľudia, ktorí sa obávajú, že sa môžu nakaziť tým, že bol pred nimi na odbere niekto nakazený. Práve preto, aby sa takéto veci nediali, používajú sa v nemocniciach sterilné jednorazové pomôcky - ihly, nádobky, hadičky, … A rovnako sa používajú jednorazové materiály aj pri darovaní doštičiek.</p>
		 
		<h4>Môže mi prísť po, alebo počas odberu nevoľno?</h4>
		<p>Odber krvných doštičiek je pre organizmus menej náročný, ako darovanie krvi, keďže sa neodoberá celá krv, ale iba jedna jej zložka. Z jednej žily ide krv do krvinkového separátora, druhou žilou sa vracia zo separátora naspäť do organizmu (odber sa dá robiť aj z jednej ruky z jednej žily). Mimo tela darcu sú počas odberu približne tri decilitre krvi. Nežiadúci účinok pri odbere môže byť tŕpnutie pier, pretože krv sa do tela darcu vracia spolu s protizrážanlivým roztokom. Vtedy vám sestrička podá šumivé kalcium.</p>

		<h4>Je darovanie krvných doštičiek bolestivé?</h4>
		<p>Na začiatku odberu pocítite malé bodnutie, po pár sekundách by ste nemali pociťovať žiadne nepríjemnosti. Oproti darovaniu krvi pri darovaní doštičiek pocítite bodnutia dve, keďže doštičky sa oddeľujú v krvinkovom separátore a následne sa krv vracia do organizmu.</p>
		 
		<h4>Ako často môžem darovať krvné doštičky?</h4>
		<p>Krvné doštičky sa môžu muži aj ženy darovať raz za mesiac. V krízovej situácii aj raz za dva týždne. Krvné doštičky sa vrátia na normálnu hladinu už po 72 hodinách po darovaní.</p>

		<h4>Mám nárok na pracovné voľno v deň darovania? Čo hovorí zákonník práce?</h4>
		<p>V zmysle § 138 ods. 2 zákona č. 311 / 2001 Z. z. Zákonník práce v znení neskorších predpisov zamestnávateľ poskytne zamestnancovi pracovné voľno s náhradou mzdy v sume jeho priemerného zárobku na účasť na darovaní krvi, aferéze a darovaní ďalších biologických materiálov.</p>
		<p>Pracovné voľno patrí na nevyhnutne potrebný čas a to za čas cesty k odberu a späť a za čas na zotavenie po odbere, pokiaľ tieto skutočnosti zasahujú do pracovného času zamestnanca. Podľa charakteru a zdravotného stavu darcu môže lekár určiť, že čas potrebný na jeho zotavenie sa predlžuje, najviac po dobu zasahujúcu do pracovného času v rámci 96 hodín od nástupu k odberu.
				Ak nedôjde k odberu, poskytne sa pracovné voľno s náhradou mzdy v sume jeho priemerného zárobku len za preukázaný nevyhnutne potrebný čas neprítomnosti v práci.</p>
		<p>Ide o prekážku v práci z dôvodu všeobecného záujmu. Ak zamestnanec o tejto prekážke vopred vie, je povinný v zmysle § 144 ods. 1 Zákonníka práce svojho zamestnávateľa požiadať o pracovné voľno. Ak o nej vopred nevie, má o nej upovedomiť zamestnávateľa bez zbytočného odkladu, t.j. najskôr ako je to pre zamestnanca možné.</p>
		<p>Zákonník práce zakotvuje povinnosť príslušného zariadenia (lekár, nemocnica) potvrdiť existenciu prekážky v práci a jej trvanie (§ 144 ods. 2 Zákonníka práce ). Prekážku v práci a jej trvanie je potom zamestnanec povinný zamestnávateľovi preukázať. Príslušný lekár je povinný potvrdiť mu doklad o existencii prekážky v práci a o jej trvaní, t. j. ak je potrebný napríklad čas na zotavenie po odbere krvi a tento čas zasahuje zamestnancovi do pracovného času, túto skutočnosť má lekár uviesť v potvrdení.</p>
		<p>Odporúčam informovať sa na personálnom oddelení u zamestnávateľa. Mnohí nástup do práce po odbere nepožadujú.</p>

		<h4>Môže darovať krvné doštičky cukrovkár, celiatik, alergik, astmatik, Diabetes mellitus 1, autoimúnne ochorenia, reumatická horúčka, šarlach, vysoký/nízky tlak, histaminik, prekonané pľúcne chlamydie, ...?</h4>
		<p>Túto otázku zodpovedia najlepšie na NOÚ. Zavolaj na tel. číslo {{ phone }}</p>

		<h4>Mám nízku hladinu železa. Ako ju môžem zvýšiť?</h4>
		<p>Hladina železa pomôže zvýšiť konzumácia červeného mäsa, tmavozelenej zeleniny, rias, orechov, semien, obilnín, maku, vajíčok, alebo užívaním výživových doplnkov obsahujúce železo (napríklad Hemo+). Zistiť hladinu železa vám môže váš lekár.</p>

		<h4>Môžu darovať krvné doštičky aj cudzinci?</h4>
		<p>Áno, v prípade, že sú poistení v niektorej z našich zdravotných poisťovní.</p>

		{# <h4>Môžu mi krvné doštičky chýbať?</h4>
		<p>Asi nie. Absencia darovaného množstva nespôsobuje darcovi žiadne zdravotné problémy. Jediné obmedzenie v deň darovania je obmedzenie nadmernej fyzickej aktivity. (Prezistiť formuláciu odpovede).</p>
 #}
		
		<section class="section faq spacing">
		</section>
	</div>

{% include '_actions.twig'	%}


{% endblock %}