{% extends "_layout.common.twig" %}

{% block bodyclass %}menu-home{% endblock %}
{% block title %}Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<div class="grid-x">
			<div class="cell text-center">
				<h1 class="spacing">Hľadáme 100 statočných</h1>
				<div class="sharing sharing--top">
	{% include '_fb_share.twig' %}				
				</div>
				<p class="intro">
					Chceme zlepšiť jednu malú, ale dôležitú vec v našom okolí. Je to zvýšenie povedomia o darovaní krvných doštičiek a získanie <strong>100 pravidelných darcov</strong>, ktorí zachraňujú životy onkologických (rakovina) a hematologických (krv) pacientov. 

				</p>
				<p class="intro">
					Ako prvý krok sme vytvorili dotazník, ktorý vyplnilo 485 ľudí. Zistili sme napríklad, že:
				</p>
			</div>
		</div>
	</div>
	<div class="grid-container grid-container--wide">
		<div class="grid-x">
			<div class="cell">
				
				<div class="grid-x knowledge">
					<div class="cell small-12 medium-6">
						<p class="knowledge__thepoint">77%</p>
						<p class="knowledge__subtitle">nemá info</p>
					</div>
					<div class="cell small-12 medium-6">
						<img src="/images/100_statocnych_prvy_graf.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid-container">

		<div class="grid-x">
			<div class="cell">
				<h2>Dosky, ktoré znamenajú život</h2>
				<ul class="arguments">
					<li class="arguments__item">
						<p class="arguments__text">
							<span class="arguments__alternatebull">× </span>Trombocyty alias krvné doštičky sú krvné bunky, ktoré majú za úlohu zrážanlivosť krvi
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							<span class="arguments__alternatebull">× </span>pacientom v dôsledku ochorenia alebo intenzívnej liečby <strong>často chýbajú</strong>
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							<span class="arguments__alternatebull">× </span>ich nedostatok im môže spôsobiť životu <strong>nebezpečné krvácanie</strong>
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							<span class="arguments__alternatebull">× </span>transfúzie doštičiek tak<strong> zachraňujú životy</strong>
						</p>
					</li>
					<li class="arguments__item">
						<p class="arguments__text">
							<span class="arguments__alternatebull">× </span>a pritom sa dajú <strong>skladovať len 5 dní</strong>
						</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="grid-x">
			<div class="cell">
				<p class="intro">Pacientom hematológie a onkológie zachraňujú životy práve ľudia ako ty - statoční darcovia doštičiek, ktorých nie je veľa.</p>
			</div>
		</div>
	</div>
	<div class="grid-container grid-container--wide">
		<div class="grid-x">
			<div class="cell">
				<div class="grid-x fakt">
					<div class="cell small-12 medium-4"><p class="fakt__title">Fakt:</p></div>
					<div class="cell small-12 medium-8 fakt__textpart"><p class="fakt__text">V Národnom onkologickom ústave, kde sa ročne liečia stovky pacientov reálne chýbajú darcovia krvných doštičiek, najmä v období sviatkov a dovoleniek.</p></div>
				</div>

				<section class="section spacing">
					<a href="/ako.html" class="button cta spacing">Zisti ako sa stať <br>jedným zo <strong>100 statočných</strong></a>
				</section>
			</div>
		</div>
	</div>

	<div class="grid-container">


		<section class="section section--onecol spacing">
{% include '_fb_share.twig' %}			
		</section>

	</div>




{% endblock %}
