{% extends "_layout.common.twig" %}

{% block title %}Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<section class="section section--onecol section--first spacing text-center">
			<h1 class="spacing">Hľadáme 100 statočných</h1>
			<div class="sharing">
{% include '_fb_share.twig' %}				
			</div>
			<p class="intro">
				Ležia v nemocniciach po celom Slovensku a často potrebujú okrem krvi aj <strong>krvné doštičky</strong>. Pacientom hematológie a onkológie zachraňujú životy práve ľudia ako ty - statoční darcovia doštičiek, ktorých nie je veľa.
			</p>
			<p class="intro">
				Pomôž nám nájsť <strong>100 statočných</strong> - úplne nových darcov krvných doštičiek - <strong>stačí, keď odpovieš na týchto pár otázok (5 minút)</strong>.
			</p>
			{# <p class="intro">
				O tom, že môžeš darovať krv asi vieš. To, že sa dajú darovať aj krvné doštičky už také známe nie je. Denne na Slovensku zachraňujú onkologických (rakovina) a hematologických (krv) pacientov, dajú sa skladovať len niekoľko dní a darcov nie je veľa.
			</p>
			<p class="intro">
				<strong>Odpovedz na 8 otázok a pomôž nám tak nájsť 100 úplne nových darcov krvných doštičiek.</strong>
			</p> #}
			<div class="arrow bounce"></div>
		</section>

		<section id="form" class="section section--onecol spacing">
			<div class="form form--expanded">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeR3KUCW_sMOV9i4cinIBMgE004Ez6Lc6YDcFMW5BBgz3XHaA/viewform?embedded=true" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				<button type="button" class="form__action">Zacat vyplnat</button>	
			</div>
		</section>

		<section class="section section--onecol spacing">
{% include '_fb_share.twig' %}			
		</section>

		<h2 class="text-center spacing">Kto sme a iné FAQ</h2>
		
		<section class="section faq spacing">
			<div class="faq__col">
				<div class="media-object profile">
				  <div class="media-object-section">
				    <div class="thumbnail">
				      <img src="dist/images/foto_martin.jpg">
				    </div>
				  </div>
				  <div class="media-object-section">
				    <h4>Martin Mojzeš</h4>
				    <p>Som čerstvý otec dvoch detí. Od 18-tich rokov darujem krv, od 27-mich krvné doštičky, posledný rok v Národnom onkologickom ústave. Každý z nás má v okolí niekoho, kto doštičky alebo krv potrebuje. Rozhodol som sa teda týmto projektom spraviť ešte o niečo viac.</p>
				  </div>
				</div>				
			</div>
			<div class="faq__col">
				<div class="media-object profile">
				  <div class="media-object-section">
				    <div class="thumbnail">
				      <img src="dist/images/foto_andrej.jpg">
				    </div>
				  </div>
				  <div class="media-object-section">
				    <h4>Andrej Minárik</h4>
				    <p>V apríli tohto roku mi začalo byť divne, v máji už som mal diagnózu - akútna lymfoblastová leukémia. Nikdy som nebol darovať krv ani doštičky a teraz ma to mrzí, zvlášť keď vidím z druhej strany ako sú potrebné tu na onkológii. Rozhodol som sa s tým niečo spraviť.</p>
				  </div>
				</div>		
			</div>
			<div class="faq__col">
				<h4>Prečo 100 statočných?</h4>
				<p>
					Dotazník nám má pomôcť lepšie pochopiť ako darcov krvi (a krvných doštičiek), tak ľudí, ktorí nezvyknú darovať. Chceme nájsť spôsob ako čo najlepšie nájsť <strong>ľudí ochotných stať sa dlhodobými darcami krvných doštičiek, ktorí reálne chýbajú</strong>, najmä v období sviatkov a dovoleniek. Vedeli ste, že doštičky sa dajú skladovať iba 5 dní?
				</p>
			</div>
			<div class="faq__col">
				<h4>Čo chceme robiť?</h4>
				<p>
					Chceme zlepšiť jednu malú, ale dôležitú vec v našom okolí. Je to <strong>zvýšenie povedomia o darovaní krvných doštičiek</strong> a v konečnom dôsledku <strong>viac darcov, ktorí zachraňujú životy</strong> onkologických (rakovina) a hematologických (krv) pacientov. Tých totiž stále pribúda. Rozprávali sme sa s pacientmi, lekármi a sestričkami. A <strong>teraz potrebujeme zistiť viac od darcov a nedarcov</strong>. Dotazník nám pomôže lepšie ich pochopiť a následne nájsť 100 nových darcov doštičiek - 100 statočných.
				</p>
				{# <p>Chceme zlepšiť jednu malú, ale dôležitú vec v našom okolí. Rozprávali sme sa s pacientmi, lekármi a sestričkami. A teraz potrebujeme zistiť viac od darcov a nedarcov. Dotazník nám pomôže lepšie ich pochopiť a následne nájsť 100 nových darcov doštičiek - 100 statočných.</p> #}
			</div>
		</section>

		<section class="section">
			<a href="#form" class="button cta align-center spacing" data-smooth-scroll>Vyplniť dotazník</a>
		</section>
	</div>

	<footer>
		{# <section class="section section--invert section--onecol"> #}
			<h2 class="text-center">Kontakt: </h2>
			<p class="text-center"><a href="mailto:martin@100statocnych.sk">martin@100statocnych.sk</a>, <a href="mailto:andrej@100statocnych.sk">andrej@100statocnych.sk</a></p>

			
		{# </section> #}
	</footer>


{% endblock %}
