{% extends "_layout.common.twig" %}

{% block title %}Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<section class="section section--onecol section--first spacing">
			<h1 class="spacing">Hľadáme 100 statočných</h1>
			<p class="intro">
				O tom, že môžeš darovať krv asi vieš. To, že sa dajú darovať aj krvné doštičky už také známe nie je. Denne na Slovensku zachraňujú onkologických (rakovina) a hematologických (krv) pacientov, dajú sa skladovať len niekoľko dní a darcov nie je veľa.
			</p>
			<p class="intro">
				Odpovedz na 8 otázok a pomôž nám tak nájsť 100 úplne nových darcov krvných doštičiek.
			</p>
		</section>

		<section id="form" class="section section--onecol spacing">
			<div class="form form--expanded">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeR3KUCW_sMOV9i4cinIBMgE004Ez6Lc6YDcFMW5BBgz3XHaA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				<button type="button" class="form__action">Zacat vyplnat</button>	
			</div>
		</section>

		<h2 class="text-center spacing">Kto sme a iné FAQ</h2>
		
		<section class="section faq spacing">
			<div class="faq__col">
				<div class="media-object profile">
				  <div class="media-object-section">
				    <div class="thumbnail">
				      <img src="assets/images/foto_martin.jpg">
				    </div>
				  </div>
				  <div class="media-object-section">
				    <h4>Martin Mojzeš</h4>
				    <p>Som čerstvý otec dvoch a držiteľ neprebratej striebornej Jánskeho plakety. Od 18-tich rokov darujem krv, od 27-mich krvné doštičky, posledný rok v Národnom onkologickom ústave. Vždy hľadám cesty ako urobiť viac.</p>
				  </div>
				</div>				
			</div>
			<div class="faq__col">
				<div class="media-object profile">
				  <div class="media-object-section">
				    <div class="thumbnail">
				      <img src="assets/images/foto_andrej.jpg">
				    </div>
				  </div>
				  <div class="media-object-section">
				    <h4>Andrej Minárik</h4>
				    <p>V apríli tohto roku mi začalo byť divne, v máji už som mal diagnózu - akútna lymfoblastová leukémia. Nikdy som nebol darovať krv ani doštičky a teraz ma to mrzí, zvlášť keď vidím z druhej strany ako sú potrebné tu na onkológii. Rozhodol som sa s tým niečo spraviť.</p>
				  </div>
				</div>		
			</div>
			<div class="faq__col">
				<h4>O čom to celé je?</h4>
				<p>Dotazník nám má pomôcť lepšie pochopiť ako darcov krvi (a krvných doštičiek), tak ľudí, ktorí nezvyknú darovať. Chceme nájsť spôsob ako čo najlepšie nájsť ľudí ochodných stať sa dlhodobými darcami krvných doštičiek, ktorí reálne chýbajú, najmä v období sviatkov a dovoleniek. Vedeli ste, že doštičky sa dajú skladovať iba niekoľko dní?</p>
			</div>
			<div class="faq__col">
				<h4>Čo chcete robiť?</h4>
				<p>Chceme zlepšiť jednu malú, ale dôležitú vec v našom okolí. Rozprávali sme sa s pacientami, lekármi a sestričkami. A teraz potrebujeme zistiť viac od darcov a nedarcov. Dotazník nám pomôže lepšie ich pochopiť a následne nájsť 100 nových darcov doštičiek.</p>
			</div>
		</section>

		<section class="section">
			<a href="#form" class="button cta align-center spacing" data-smooth-scroll>Vyplniť dotazník</a>
		</section>
	</div>

	<footer>
		{# <section class="section section--invert section--onecol"> #}
			<h2 class="text-center">Kontakt: </h2>
			<p class="text-center"><a href="mailto:martin@100statocnych.sk">martin@100statocnych.sk</a>, <a href="mailto:andrej@100statocnych.sk">andrej@100statocnych.sk</a></p>

			
		{# </section> #}
	</footer>


{% endblock %}
