{% extends "_layout.common.twig" %}

{% block bodyclass %}menu-kde{% endblock %}
{% block title %}Kde? | Hľadáme 100 statočných{% endblock %}

{% block page %}

<div class="section">
	<div class="container">
		<h1 class="text-center spacing">Kde môžem darovať?</h1>
    <p class="intro text-center">
      Stránka 100statočných.sk vznikla ako pomoc pre získanie darcov pre Národný onkologický ústav. Avšak krvné doštičky sa dajú darovať aj na iných miestach. Všetky majú spoločné, že darovať môže ísť človek, o ktorého krvi vedia na odberovom mieste viac.
    </p>

    <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><span class="h4">Národný onkologický ústav</span></a>

        <div class="accordion-content" data-tab-content>
          <p>Klenová 3019/1, 831 01 Bratislava</p>
          <ul>
            <li>lubica.malovcova@nou.sk</li>
            <li>sawkat.choudhury@nou.sk</li>
            <li>+421 2 59 378 765</li>
          </ul>
          <a href="https://www.nou.sk/darovanie-krvnych-dosticiek">Viac informácií na stránke ústavu</a>
        </div>
      </li>
          <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><span class="h4">Ústredná vojenská nemocnica</span></a>

        <div class="accordion-content" data-tab-content>
          <p>Generála Miloša Vesela 21, 034 01 Ružomberok</p>
          <ul>
            <li>moravcikovaja@uvn.sk</li>
            <li>solcianskab@uvn.sk</li>
            <li>+421 44 438 2401</li>
          </ul>
          <a href="http://www.uvn.sk/pre-pacientov/20/Pre-darcov-krvi">Viac informácií na stránke nemocnice</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><span class="h4">Nemocnica F.D.Roosvelta</span></a>

        <div class="accordion-content" data-tab-content>
          <p>Námestie Ludvíka Svobodu 3865/1, 974 09 Banská Bystrica</P>
          <ul>
            <li>banskabystricants@ntssr.sk</li>
            <li>+421 910 837 110</li>
          </ul>
          <a href="https://www.ntssr.sk/kde-darovat-krv/banska-bystrica">Viac informácií na stránke Národnej transfúznej stanice</a>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><span class="h4">Univerzitná Nemocnica Bratislava</span></a>

        <div class="accordion-content" data-tab-content>
          <p>Ružinovská 6, 821 02 Bratislava</p>
          <ul>
            <li>ruzinovnts@ntssr.sk</li>
            <li>sawkat.choudhury@nou.sk</li>
            <li>+421 2 5910 3057</li>
          </ul>
          <a href="https://www.ntssr.sk/kde-darovat-krv/bratislava-ruzinov">Viac informácií na stránke Národnej transfúznej stanice</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <p>
      <a href="https://www.google.com/maps/d/u/0/viewer?mid=1LAziFXfXN7UZE4gsEYECvDmaZJDBdqez&ll=48.60471003322079%2C18.54928878284717&z=8">
        <img src="/images/mapa.png" alt="" />
        Otvoriť mapu
      </a>
    </p>
  </div>
</div>
{% endblock %}