{% extends "_layout.common.twig" %}

{% block bodyclass %}menu-media{% endblock %}
{% block title %}Médiá | Hľadáme 100 statočných{% endblock %}

{% block page %}

	<div class="container">
		<h1 class="text-center spacing">Pre médiá</h1>
		<p class="intro text-center">
			 Zistili sme, že darovať krvné doštičky bránia ľuďom <strong>tri veci</strong>. Nemajú vedomosti o procese darovania, pociťujú nedostatok času a majú obavy o svoje zdravie. Veríme, že aj naša iniciatíva im pomôže získať informácie, ktoré potrebujú aby prekonali obavy, prestali váhať a odhodlali sa stať darcami. 
		</p>
		<p class="intro text-center">
			Každý jeden nový darca môže znamenať pre čakajúceho pacienta lepší život. Vy, novinári, nám <strong>môžete pomôcť informácie posunúť tam, kde sú potrebné</strong>.
		</p>
		<p class="intro text-center">
			V prípade záujmu nás prosím kontaktujte na: martin.mojzes@plusko.net
		</p>
		<p class="intro text-center"> 
			ĎAKUJEME.
		</p>
		
	</div>

	<section class="section spacing">
		<a href="/onas.html" class="button cta spacing">Prečítajte si náš príbeh</a>
	</section>

{% endblock %}